.app-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #424242;
  padding: 40px 0;
}
.app-inner {
  width: 1200px;
  background: #fff;
  border: 4px solid #1e88e5;
}